@model IEnumerable<PiggyBank.Web.Models.Child>

@{
    ViewBag.Title = "Index";
}

<h2>My Children</h2> <p class="text-success">@ViewBag.StatusMessage</p>


<p>

    @Ajax.ActionLink("Add Child", "AddChild", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" }, new { @class = "btn btn-primary" })
</p>

@{
    if (Model.Count() <= 0)
    {
        <p>No children added yet. @Html.ActionLink("Add Child", "AddChild", null, null)</p>
    }

    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SavingsBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PercentToSave)
                </th>
                <th>Active</th>
                <th></th>
                <th></th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.MainBalance.ToString("N")
                    </td>
                    <td>
                        @item.SavingsBalance.ToString("N")
                    </td>
                    <td>
                        @item.PercentToSave.ToString("N")%
                    </td>

                    <td>
                        @{
                if (item.Activated)
                {
                    <span class="text-success">Active</span>
                }

                else
                {
                    <span class="text-danger">Inactive</span>
                            <span title="This is the one time PIN used to verify accounts.">OTP : @item.PIN</span>

                }
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Ajax.ActionLink("Edit", "EditChild", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" })</li>
                                <li>@Ajax.ActionLink("Pay", "PayChild", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" })</li>
                                <li>@Html.ActionLink("Pocket Money", "DoPocketMoney", new { id = item.Id })</li>
                                <li>@Ajax.ActionLink("Add Reward", "AddReward", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" })</li>
                                <li>@Html.ActionLink("Delete", "DeleteChild", new { id = item.Id }, new { @onclick = "return confirm('Are you sure you wish to delete this account?');" })</li>
                                <li>@Html.ActionLink("History", "History", new { id = item.Id }, new { })</li>
                                <li>@Html.ActionLink("Send OTP", "SendOTP", new { id = item.Id }, new { })</li>
                                @*<li><p onclick="TestWithdrawlAdd()">Test Withdrawl</p></li>*@

                            </ul>
                        </div>

                    </td>
                </tr>
            }

        </table>
    }
}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive.js")
    <script>
        function ReloadValidation() {
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
        }



        function TestWithdrawlAdd()
        {
            var withdrawl = { "ChildId": 4, "Amount": 100, "TmStamp": "\/Date(1468618264031)\/","FromSavings":"false" }
            jQuery.ajax({
                type: 'POST',
                url: "/Mobile/RequestCash",
                contentType: "application/json; charset=utf-8",
            datatype: 'json',
            data: JSON.stringify(withdrawl)
          
        });
        }
    </script>
}
<div id="pophere"></div>