@model IEnumerable<PiggyBank.Web.Models.Reward>

    @{
        ViewBag.Title = "Rewards";
    }

    <h2>Rewards</h2>
    @{
        if (ViewBag.ChildId != null && ViewBag.ChildId > 0)
        {
            <p>@Ajax.ActionLink("Add Reward", "AddReward", new { id = ViewBag.ChildId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" }, new { @class = "btn btn-primary" })</p>
        }

        else
        {
            <p>@Ajax.ActionLink("Add Reward", "AddReward", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "ReloadValidation()", UpdateTargetId = "pophere" }, new { @class = "btn btn-primary" })</p>

        }
    }

    @{
        if (Model.Count() <= 0)
        {
            if (ViewBag.ChildId != null && ViewBag.ChildId > 0)
            {
                <p>This child has no rewards outstanding.</p>
            }

            else
            {
                <p>You have no rewards outstanding.</p>
            }
        }

        else
        {
            <table class="table">
                <tr>
                    <th>
                        Child Name
                    </th>
                    <th>
                        To Do
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/Child/Rewards/@item.ChildId">@item.ChildFor</a>
                        </td>
                        <td>
                            @item.TaskToDo
                        </td>
                        <td>
                            @item.RewardAmount.ToString("#,##0.00")
                        </td>
                        <td>
                            @Html.ActionLink("Finish", "HandleReward", new { id = item.Id, task = "approve" }, new { @class = "btn btn-primary", @title = "Finish Reward" }) |
                            @Html.ActionLink("Cancel", "HandleReward", new { id = item.Id, task = "deny" }, new { @class = "btn btn-danger", @title = "Cancel Reward" })
                        </td>
                    </tr>
                }

            </table>

        }
        
            @Html.ActionLink("Back To Children","Index")
    }



    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/jquery.unobtrusive.js")
        <script>
            function ReloadValidation() {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }
            </script>
    }

<div id="pophere"></div>